<% followers.each do |follower| %>
  <% unless follower.id.nil? %>
    <tr>
      <td id="follow-img"><%= profile_img(follower) %></td>
      <td><%= follower.name %></td>
      <td><%= follower.email %></td>
    </tr>
  <% end %>
<% end %>